body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-image: url('/img/casino.jpg'); 
    background-size: cover;
    background-position: center;
}

#slot-machine {
    text-align: center;
    background-color: rgba(255, 255, 255, 0.8); 
    padding: 20px;
    border-radius: 10px;
}

#reel-container {
    display: flex;
}

.reel {
    width: 100px;
    height: 150px;
    border: 1px solid #000;
    margin: 0 10px;
}

#spin-btn {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}
